.timer {
  text-align: center;

  &__text {
    font-size: 20rem;
    color: white;
    position: absolute;
    top: 23.5rem;
    right: 70%;
  }
}

.timer__off {
  visibility: hidden;
}

@media screen and (min-width: 300px) {

  .timer {
    text-align: center;
  
    &__text {
      font-size: 4rem;
      color: white;
      position: absolute;
      top: 67.5rem;
      right: 17.5%;
      
    }
  }
  
  .timer__off {
    visibility: hidden;
  }
}

@media screen and (min-width: 750px) {

  .timer {
    text-align: center;
  
    &__text {
      font-size: 20rem;
      color: white;
      position: absolute;
      top: 23.5rem;
      right: 70%;
    }
  }
  
  .timer__off {
    visibility: hidden;
  }
}