@import "../../assets/styles/variables";

.tile{
    height: 10rem;
    width: 10rem;
    border: 2px solid rgba(124, 124, 124, 0.199);
    font-size: 8rem;
    text-align: center;
    font-weight: bold;
    line-height: 8.6rem;
    display: flex;
    justify-content: center;

    &--correct-place{
        background-color: $color-green;   
    }

    &--correct-letter{
        background-color: $color-yellow;   
    }

    &--incorrect-letter{
        background-color: $color-grey;   
    }

}