@import "../../assets/styles/variables";

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 3rem;
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }
}

.key {
  width: 6rem;
  height: 6rem;
  font-weight: bold;
  font-size: 3rem;

  &:active {
    background-color: rgb(173, 173, 173);
  }

  &--active {
    background-color: rgb(129, 129, 129);
  }
}

.enter {
  width: 15rem;
}

.backspace {
  width: 15rem;
}

.submit{
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  background-color: rgb(197, 34, 34);
  border: hidden;
  color: white;
  position: absolute;
  top: 25rem;
  left: 75%;
  font-size: 5rem;

  &::after{
    visibility: hidden;
  }
}

.none{
  position: absolute;
  visibility: hidden;
}

