.gameboard{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &__col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    &__tile{
        
    }
}