.nav{
    
    font-size: 1.6rem;
    margin: 0 16rem;

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__text{
            font-size: 5rem;
        }

        &__icon{
            color: grey;
            font-size: 3rem;
        }

        &__center{
            position: relative;
            left: 2rem;;
        }
        &__right{
            
            i{
                margin: 0 1rem;
            }
        }
    }

    &__underline{
        border-bottom: 1px solid rgba(128, 128, 128, 0.342);
    }
}